<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='<%= localPath %>/stylesheets/bootstrap.css' />
  </head>
  <body>
    <div class="hero-unit"><h1><%= h1 %></h1>
    <p>Bienvenue sur ma TodoList!<br>Inscrivez toutes vos tâches à faire !</p></div>
    <div class="row">
    	<div class="list offset2 span4">
    	<table class="table table-striped">
    	<thead><tr><th>Ce qu'il reste à faire...</th></tr></thead>
    		<tr><td>Ceci est un todolist item</td></tr>
    	</table>
    	</div>
	</div>
  </body>
</html>
